@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: hsl(185, 41%, 84%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.header {
  display: flex;
  flex-direction: column;
  color: hsl(186, 14%, 43%);
  font-size: 24px;
  margin-top: -120px;
  letter-spacing: 8px;
}

.content {
  background-color: white;
  border-radius: 15px;
  height: 50%;
  width: 75%;
  padding: 30px;
  display: flex;
  gap: 40px;
}

.calculate-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-area {
  background-color: hsl(183, 100%, 15%);
  width: 50%;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-text {
  font-size: 14px;
}

.inputs {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%); 
  height: 35px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
}

.inputs::placeholder {
  text-align: right;
}

.inputs:focus {
  outline: 2px solid rgb(0, 0, 0, 0.35);
}

.inputs:focus::placeholder {
  color: transparent;
}

#bill-input-wrapper {
  position: relative;
}

#bill-input-wrapper::before {
  content: url("./frontend-mentor-assets/images/icon-dollar.svg");
  position: absolute;
  top: 8px;
  left: 10px;
}

#people-input-wrapper {
  position: relative;
}

#people-input-wrapper::before {
  content: url("./frontend-mentor-assets/images/icon-person.svg");
  position: absolute;
  top: 8px;
  left: 10px;
}

.calculate-area p {
  color: hsl(186, 14%, 43%);
  margin-bottom: 5px;
}

.percentage-area {
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-buttons, .bottom-buttons {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.tip-buttons {
  width: 30%;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 19px;
}

.tip-buttons:hover {
  cursor: pointer;
  background-color: hsl(183, 100%, 21%);
  transition: 0.2s;
}

#custom-button {
  color: hsl(186, 14%, 43%);
  background-color: hsl(189, 41%, 97%);
}

#custom-button:hover {
  cursor: pointer;
  background-color: hsl(180, 6%, 79%);
  transition: 0.2s;
}

#tip-input {
  width: 30%;
  direction: ltr;
}

#tip-input::placeholder {
  font-size: 17px;
  text-align: center;
}

.people-area {
  margin-bottom: 10px;
}

.result-info-text {
  color: white;
}

.result-small-text {
  font-size: 12px;
  color: hsl(186, 17%, 55%);
}

.tip-amount-area, .total-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.result-numbers {
  color: hsl(172, 67%, 45%);
  font-size: 32px;
  line-height: 0.9;
}

#reset-button {
  margin-top: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

#reset-button:hover {
  background-color: hsl(172, 79%, 54%);
  cursor: pointer;
  transition: 0.3s;
}