@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: hsl(185, 41%, 84%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.header {
  display: flex;
  flex-direction: column;
  color: hsl(186, 14%, 43%);
  font-size: 24px;
  margin-top: -120px;
  letter-spacing: 8px;
}

.content {
  background-color: white;
  border-radius: 15px;
  height: 50%;
  width: 75%;
  padding: 40px;
  display: flex;
}

.calculate-area {
  background-color: antiquewhite;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
}

.result-area {
  background-color: hsl(183, 100%, 15%);
  width: 50%;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.inputs {
  border: none;
  background-color: hsl(189, 41%, 97%);
  height: 35px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  direction: rtl;
}

.inputs::placeholder {
  text-align: right;
}

.inputs:focus {
  outline: 1px solid rgb(0, 0, 0, 0.5);
}

.inputs:focus::placeholder {
  color: transparent;
}

.calculate-area p {
  color: hsl(186, 14%, 43%);
}